@font-face {
  font-family: "iceberg";
  src: url("iceberg.ttf");
}

@font-face {
  font-family: "intertight";
  src: url("intertight.ttf");
}
h1 {
  font-family: "iceberg";
  margin: 0px;
  font-size: 75px;
}

p {
  margin: 0px;
  font-family: "intertight";
  font-size: larger;
}

.main {
  height: 45vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search {
  width: 100vw;
  height: 55vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.input {
  width: 400px;
  background-color: #2bc0e4;
  color: #000000;
  padding: 0.15rem 0.5rem;
  min-height: 40px;
  border-radius: 100px;
  outline: 0px;
  border: 0px;
  line-height: 1.15;
  box-shadow: 0px 10px 20px -18px;
}

input:focus {
  border-bottom: 2px solid #ffffff;
  border-radius: 4px 4px 2px 2px;
}

input:hover {
  outline: 1px solid black;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 17%,
    rgba(0, 212, 255, 1) 100%
  );
  margin: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#sbutton {
  margin-top: 10px;
  padding: 13px 17px 13px 17px;
  border-radius: 10px;
  background: #2bc0e4;
  border: none;
  font-family: "intertight";
  font-size: small;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

#sbutton:hover {
  box-shadow: 7px 5px 56px -14px #ffffff;
}

#sbutton:active {
  transform: scale(0.85);
  box-shadow: 7px 5px 56px -10px #ffffff;
}

.semi-trans {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 50%;
  width: 100vw;
  height: 100vh;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;

  animation: glow;
  text-shadow: 0 0 5px #fff;
}

.weather-container {
  max-width: 500px;

  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.weather-container h1 {
  font-family: "intertight";
}

.weather-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.weather-icon img {
  width: 150px;
}

.weather-details {
  text-align: left;
}

.weather-details p {
  font-size: 16px;
  margin: 5px 0;
}

.w {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin-left: 30%;
  margin-top: 20%;
}
.error h2 {
  font-family: "intertight";
}

#sbutton2 {
  margin-top: 10px;
  padding: 13px 17px 13px 17px;
  border-radius: 10px;
  background: #2bc0e4;
  border: none;
  font-family: "intertight";
  font-size: small;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

#sbutton2:hover {
  box-shadow: 7px 5px 56px -14px #ffffff;
}

#sbutton2:active {
  transform: scale(0.85);
  box-shadow: 7px 5px 56px -10px #ffffff;
}
