<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skycast</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="main">
      <h1 class="glow">Skycast</h1>
      <p>Forecast at your fingertips.</p>
    </div>

    <div class="search">
      <form action="/weather" method="POST">
        <input
          class="input"
          name="query"
          placeholder="Search for a city..."
          type="text"
        />
        <button type="submit" id="sbutton">Search</button>
      </form>
    </div>
  </body>
</html>
